<div class="container">
  <div id="signupbox" style="margin-top:50px" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">Sign Up</div>
        <div style="float:right; font-size: 85%; position: relative; top:-10px">
          <!-- <a id="signinlink" href="#" onclick="signIn()">Sign In</a> -->
          <a [routerLink]="['/login']" [queryParams]="{signUpFlag : true}">Sign In</a>

        </div>
      </div>





      <div class="panel-body">
        <form id="signupform" class="form-horizontal" role="form" (ngSubmit)="onSubmit(f)" #f="ngForm">



          <div class="form-group">
            <label for="email" class="col-md-3 control-label">Email</label>
            <div class="col-md-9">
              <input type="email" required class="form-control" name="email" [(ngModel)]="user.email" placeholder="Email Address" #email="ngModel"
                [(pattern)]="emailPattern">
              <span class="help-block" *ngIf="email.touched && !email.valid">Please enter a valid email !</span>
            </div>
          </div>

          <div class="form-group">
            <label for="firstname" class="col-md-3 control-label">First Name</label>
            <div class="col-md-9">
              <input type="text" required class="form-control" name="firstname" [(ngModel)]="user.firstName" placeholder="First Name" #firstname="ngModel">
              <span class="help-block" *ngIf="firstname.touched && !firstname.valid">Please enter firstname !</span>
            </div>
          </div>
          <div class="form-group">
            <label for="lastname" class="col-md-3 control-label">Last Name</label>
            <div class="col-md-9">
              <input type="text" required class="form-control" name="lastname" [(ngModel)]="user.lastName" placeholder="Last Name" #lastname="ngModel">
              <span class="help-block" *ngIf="lastname.touched && !lastname.valid">Please enter lastname !</span>

            </div>
          </div>




          <div class="form-group">
            <label for="password" class="col-md-3 control-label">Password</label>
            <div class="col-md-9">
              <input type="password" required class="form-control" name="password" [(ngModel)]="user.password" placeholder="Password" #password="ngModel">
              <span class="help-block" *ngIf="password.touched && !password.valid">Please enter valid password !</span>

            </div>
          </div>




          <div class="form-group">
            <label for="address" class="col-md-3 control-label">Permanant Address</label>
            <div class="col-md-9">
              <input type="text" class="form-control" name="address" [(ngModel)]="user.address" placeholder="">
            </div>
          </div>

          <div class="form-group">
            <label for="city" class="col-md-3 control-label">City</label>
            <div class="col-md-9">
              <input type="text" class="form-control" name="city" [(ngModel)]="user.city" placeholder="">
            </div>
          </div>

          <div class="form-group">
            <label for="postalCode" class="col-md-3 control-label">Postal Code</label>
            <div class="col-md-9">
              <input type="text" class="form-control" name="postalCode" [(ngModel)]="user.postalCode" placeholder="">
            </div>
          </div>

          <div class="form-group">
            <label for="location" class="col-md-3 control-label">Office Location</label>
            <div class="col-md-9">
              <input type="text" class="form-control" name="location" [(ngModel)]="user.location" placeholder="">
            </div>
          </div>

          <div class="form-group">
            <label for="building" class="col-md-3 control-label">Biulding</label>
            <div class="col-md-9">
              <input type="text" class="form-control" name="building" [(ngModel)]="user.building" placeholder="">
            </div>
          </div>


          <div class="form-group">
            <label for="project" class="col-md-3 control-label">Project</label>
            <div class="col-md-9">
              <input type="text" class="form-control" name="project" [(ngModel)]="user.project" placeholder="">
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-offset-3 col-md-12">
              <button id="btn-signup" type="submit" class="btn btn-info" [disabled]="!f.valid">
                <i class="icon-hand-right"></i> Sign Up</button>
              <span style="margin-left:8px;margin-right :8px;">OR</span>
              <button id="btn-fbsignup" type="button" class="btn btn-primary">
                <i class="icon-facebook"></i>   Sign Up with Facebook</button>
            </div>
          </div>


        </form>
      </div>
    </div>
  </div>
</div>